<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Gestión</span> Mantenimiento</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="clientes.html">Clientes</a></li>
                <li><a href="equipos.html">Equipos</a></li>
                <li><a href="diagnosticos.html">Diagnósticos</a></li>
                <li><a href="facturas.html">Facturas</a></li>
                <li><a href="logout.html">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </div>
</header>

